{% extends 'base.html.twig' %}


{% block title %}Boutiques{% endblock %}

{% block body %}
<div class="maybe">

<div class="lol">
    <div class="men_ex text-center rounded-right " id="men_ex">
    
        <div class="list-group" id="list-tab" role="tablist">

        {% for data in boutiques %}

        <a href="test-{{ data.id }}" class="list-group-item list-group-item-action newcolor" id="list-{{ data.id }}-list" data-toggle="list" href="#list-{{ data.id }}" role="tab" aria-controls="{{ data.id }}">{{ data.titre|upper}}</a>
        
        {% endfor %}
        </div>

    </div>


    <div class="show_hide" id="show_hide">
        <img src="{{ asset('image/arrow.png') }}" id="jojo" alt="">
    </div>

</div>


{########################################}

 <div class="titros"> 

        <img class="portas" src="{{ asset('image/marijuana.png') }}" alt="">
     <br>
        <h1 class=" titre">LES BOUTIQUES</h1>
 </div>

{% for data in boutiques %}
<section id="party">

    <div class="border-top border-dark" id="test-{{ data.id }}">
    <a href="{{ path('main_shop', {'id': data.id }) }}"><figure><img class="d-block w-100" src="{{ asset('/images/' ~ data.image) }}" alt="{{ data.titre}}"></figure></a>
    </div>

</section>
{% endfor %}
</div>

{% endblock %}