{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="coucou">
    <section class="titrasse mx-auto">
        <div class="d-flex">
            <h2 class="mx-auto"><img src="{{ asset('image/marijuana.png') }}" alt="" class="logo-contact"> EQUIPE CBDGATE <img src="{{ asset('image/marijuana.png') }}" alt="" class="logo-contact"></h2>
        </div>
            <hr class="coupe">
        <div class="contact d-flex justify-content-around">
            <li class=""><strong>EMAIL :</strong> cdb_gate@hotmail.fr</li>
            <li class=""><strong>NUMERO :</strong> 06.01.09.05.12</li>
        </div>
    </section>



<!-- DEBUT CARD -->
    <div class="row">
<!-- CARD ALEXB-->
        <div class="col-lg-2 col-md-1 mb-4 mb-lg-0">
        <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{{ asset('image/alexb.jpg') }}" alt="" class="w-100 card-img-top">
                            <div class="p-4">

                                <h5 class="mb-0">Alexandre Besle</h5>
                                <p class="small text-muted">DEVELOPPEUR</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/linkedinpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/facebookpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/twitterpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/github.png" alt=""></a></li>
                                </ul>
                                
                            </div>
                        </div>
        </div>
        </div>

        <!-- CARD JORDAN -->
        <div class="col-lg-2 col-md-1 mb-4 mb-lg-0">
        <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{{ asset('image/bg.jpg') }}" alt="" class="w-100 card-img-top">
                            <div class="p-4">

                                <h5 class="mb-0">Jordan Mendes</h5>
                                <p class="small text-muted">DEVELOPPEUR</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/linkedinpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/facebookpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/twitterpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/github.png" alt=""></a></li>
                                </ul>
                                
                            </div>
                        </div>
        </div>
        </div>

        <!-- CARD HICHAM -->
        <div class="col-lg-2 col-md-1 mb-4 mb-lg-0">
        <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{{ asset('image/hicham.jpg') }}" alt="" class="w-100 card-img-top">
                            <div class="p-4">

                                <h5 class="mb-0">Hicham Ferrache</h5>
                                <p class="small text-muted">POINTEUR</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/linkedinpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/facebookpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/twitterpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/github.png" alt=""></a></li>
                                </ul>
                                
                            </div>
                        </div>
        </div>
        </div>

        <!-- CARD AXEL -->
        <div class="col-lg-2 col-md-1 mb-4 mb-lg-0">
        <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-1_dewapk.jpg" alt="" class="w-100 card-img-top">
                            <div class="p-4">

                                <h5 class="mb-0">Axel Mampiono</h5>
                                <p class="small text-muted">DEVELOPPEUR</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/linkedinpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/facebookpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/twitterpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/github.png" alt=""></a></li>
                                </ul>
                                
                            </div>
                        </div>
        </div>
        </div>


        <!-- CARD ALEXM -->
        <div class="col-lg-2 col-md-1 mb-4 mb-lg-0">
        <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-0"><img src="{{ asset('image/alexm.jpg') }}" alt="" class="w-100 card-img-top">
                            <div class="p-4">

                                <h5 class="mb-0">Alexandre Medor</h5>
                                <p class="small text-muted">DEVELOPPEUR</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/linkedinpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/facebookpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/twitterpti.png" alt=""></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><img src="image/github.png" alt=""></a></li>
                                </ul>
                                
                            </div>
                        </div>
        </div>
        </div>


    </div>
    <!-- FIN CARD -->
    {% for message in app.flashes('success') %}
        <div class="col-md-5 mx-auto alert alert-success text-center">
        {{ message }}
        </div>
    {% endfor %}
    <h2 class="display-5 col-md-4 text-center my-5 pt-1 bg-dark text-white mx-auto rounded shadow-lg">FORMULAIRE DE CONTACT</h2>

    {{form_start (formContact, {'attr' : {'class' : 'col-md-4 mx-auto'} } ) }}
    {{form_row (formContact.prenom, {'label' : "Prénom"})}}
      
        {{form_row (formContact.nom, {'label' : "Nom"} ) }}

        

        {{form_row (formContact.email, {'label' : "Email"})}}

        {{form_row (formContact.telephone, {'label' : "Telephone" }) }}

        {{form_row (formContact.message)}}



    
    <div class="container col-md-12 mx-auto row justify-content-around">
      <small class="container col-md-6 mx-auto hoverable" ><button type="submit" class="btn btn-primary text-center my-5" id="produit">ENVOYER</button></small>
    </div>

 {{form_end (formContact)}}

</div>

{% endblock %}