{% extends 'base.html.twig' %}

{% block title %}CBDGATE{% endblock %}

{% block body %}
{# BAN #}
<div class="pouloulou">
      <img class="d-block w-100" src="{{ asset('image/bancbd.png') }}">
      <div class="text">
        <img class="w-10"  src="{{ asset('image/marijuanawhite.png') }}" width="50%" height="25%" alt="">
      </div>
    </div>

<br><br>

    <article class="row   sparent">




  <section class="s2 col-md-4">
  
  <h1 class="text-center" >Qu'est-ce que CBDGATE</h1>

  <p>Nous sommes un site qui propose de découvrir les meilleurs boutiques de CBD </p>

  </section>




</article>
<br><br>
{# FIN BAN #}
  {# CAROUSEL #}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ asset('image/carou1.png') }}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('image/carou2.png') }}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('image/carou3.png') }}" alt="Third slide">
    </div>
  </div>
</div>
<br><br>
  {# FIN CAROUSEL #}

  {# DESCRIPTION#}
  <article class="row   sparent">

  <section class="s1 col-md-4">

  <h1>100% Légale</h1>

  <p>Le CBD cannabinoïde connu sous le nom de cannabidiol, lui, est légal dès lors que ses niveaux de THC ne dépassent pas 0,2 %.
   Il se trouve également sous divers forme (notamment huile , pâte , miel , E-liquide ect ...), sans que son achat et sa consommation soient répréhensibles.
   Pour essayer de faire simple, le CBD n’est pas interdit par la loi française, contrairement au THC.
  </p>


  </section>




  <section class="s3 col-md-4">
  
  <h1>Qu’est-ce que le CBD ?</h1>

  <p>Le cannabidiol est un composant vertueux du cannabis. En médecine, le CBD est une substance utilisée pour traiter et soulager différentes maladies et leurs symptômes. Voici les principaux bienfaits du cannabidiol, effet anti-inflammatoire considérable, antidouleur naturel, aide à la relaxation et bien d'autre !</p>

  </section>

</article>
  {# FIN DESCRIPTION#}
<br><br>
  {# CAROUSEL 2 #}
  <h2 class="text-center" >Découvrez les meilleurs produits</h2>

	<div class="container-fluid ">
	
					<div class="d-flex justify-content-around   ">


         {% for data in produitBdd %}
          <section class="carou2">
          		
					 <img class="picture"  src="{{ asset('/images/' ~ data.image) }}" alt="" width="250" height="250">
            <div class="middle">
            <a class="texte" href="" >Découvrir</a>
           </div>
           <h3 class="text-center">{{ data.titre}}</h3>
           </section>

           {% endfor %}


					</div>
				</div>

		





{% endblock %}
