{% extends "base.html.twig" %}

{% block title %}

Détails de l'article

{% endblock %}


{% block body %}

  
    <div class="container-fluid" style="background-image: url('../image/960x0.jpg'); background-size: cover; height:100">

    <div class="album py-5" style="background-color: bisk;">
   

      <div class="row">

        
        <div class="mx-auto col-md-6">
        <h2 class="text-center bg-dark text-white py-2 rounded shadow-lg">{{boutique.titre}}</h2>
          <div class="card shadow-lg">
             
              

              {% for message in app.flashes ('success') %}

              <div class="col-md-4 bg-success p-4 rounded mx-auto text-center text-white mb-2 shadow-lg">
                  {{message}}</div>
               

              {% endfor %}   
            
             <img class="" src="{{ asset('images/' ~ boutique.image)|replace({'600/400' : '1000/300'})}}">
             
            <div class="card-body">
              <p class="card-text">
               {{boutique.description|raw}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                {# <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div> #}
                {# <small class="text-muted">Posté le {{ articleTwig.createdAt|date("d/m/Y") }} à {{ articleTwig.createdAt|date("H:i:s") }} dans la classe
                catégorie <strong> {{articleTwig.category.title}} </strong></small> #}
              </div>
            </div>
          </div>

          
               <div class="album py-5" style="background-color:bisk;">
   
     
      <div class="row col-md-10 mx-auto">

   

      {% for item in produit %}

      
        <div class="col-md-4" style="height: 50vh !important;">
          <div class="card mb-4 shadow-lg">
           
            <img src="{{ asset('images/' ~ item.image) }}">
            
            <div class="card-body">
              <h4 class="text-center"> {{ item.titre }}</h4>
              <p class="card-text">{{ item.contenu|striptags|slice(0,250) }} ...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="{{ path('main_produit', {'id': item.id }) }}" class="btn btn btn-outline-primary mr-1 rounded">En savoir plus</a>
                 <a href="{{ path('main_shop', {'id': item.boutiques.id }) }}" class="btn btn btn-outline-danger rounded">Revenir à la boutique</a>
                </div>
              </div><hr>
               {# <small class="text-muted">Posté le {{ item.createdAt|date('d/m/Y') }} à {{ item.createdAt|date('H:i:s') }} dans la classe
                catégorie <strong> {{ item.category.title}} </strong></small> #}
            </div>
          </div>
        </div>
   
      {% endfor %}
       
       
        
    </div>
    
  </div>

          <h4 class="text-center bg-dark text-white my-5 py-1 rounded shadow-sm"> Vos réactions </h4>
              <div class="row bg-container bg-light shadow-sm">
                  {% for comment in boutique.comments %}
                     <div class="col-md-5">
                          <span class="badge badge-success"> <strong>{{comment.auteur}}</strong> </span>
                          <i class="text-muted">Posté le {{comment.dateCreation|date("d/m/Y")}} à {{comment.dateCreation|date("H:i:s")}}</i>
                     </div>

                     <div class="col-md-8">

                        {{comment.contenu|striptags}} <hr>

                     </div>
                  {% endfor %}
              </div>


              <div class="" id="form">
                 
                  {{form_start(formComment, { 'attr' : {"class": "col-md-5 mx-auto"} }) }}

                   
                      {{form_row(formComment.contenu, { 'attr' : {"placeholder" : "Saisir un commentaire", "rows" : 10},
                                            'label' : "Votre commentaire" }) }}


                      <input class="btn btn-primary" type="submit" 
                      value="POSTER"> 


              
                 {{form_end(formComment)}}

             </div>                         

        </div>
       
    </div> 
  </div>
  </div>
{% endblock %}
