{% extends "base.html.twig" %}

{% block title %}

Détails du produit

{% endblock %}


{% block body %}

  


    <div class="album py-5" style="background-color: bisk;">
   

      <div class="row">

        
        <div class="mx-auto col-md-6">
        {# <h2 class="text-center bg-dark text-white py-2 rounded shadow-lg">{{produit.titre}}</h2> #}
          <div class="card shadow-lg">
             
              

              {% for message in app.flashes ('success') %}

              <div class="col-md-4 bg-success p-4 rounded mx-auto text-center text-white mb-2 shadow-lg">
                  {{message}}</div>
               

              {% endfor %}   
            
             {# <img class="" src="{{ asset('uploads/images/' ~ articleTwig.imgae)|replace({'600/400' : '1000/300'})}}"> #}
             
            <div class="card-body">
              <p class="card-text">
               {{produit.contenu|raw}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
                </div>
                <small class="text-muted">Posté le {{ produit.dateCreation|date("d/m/Y") }} à {{ produit.dateCreation|date("H:i:s") }} dans la classe
                catégorie <strong> {{produit.categorie.titre}} </strong></small>
              </div>
            </div>
          </div>

          <h4 class="text-center bg-dark text-white my-5 py-1 rounded shadow-sm"> Vos réactions </h4>
              <div class="row bg-container bg-light shadow-sm">
                  {% for comment in produit.commentaires %}
                     <div class="col-md-5">
                          <span class="badge badge-success"> <strong>{{comment.auteur}}</strong> </span>
                          <i class="text-muted">Posté le {{comment.dateCreation|date("d/m/Y")}} à {{comment.dateCreation|date("H:i:s")}}</i>
                     </div>

                     <div class="col-md-8">

                        {{comment.contenu|striptags}} <hr>

                     </div>
                  {% endfor %}
              </div>
                 
                  {{form_start(formComment, { 'attr' : {"class": "col-md-5 mx-auto"} }) }}

                      {{form_row(formComment.auteur, { 'attr' : {"placeholder" : "Saisir votre nom ou pseudo", 
                      "required" : false, "maxlength" : false, "pattern" : false },
                                          'label' : "Auteur"}) }}

                      {{form_row(formComment.contenu, { 'attr' : {"placeholder" : "Saisir un commentaire", "rows" : 10},
                                            'label' : "Votre commentaire" }) }}


                      <input class="btn btn-primary" type="submit" 
                      value="POSTER"> 


                   {{form_end(formComment)}}                     

        </div>
       
    </div> 
  </div>
{% endblock %}