{% extends "base.html.twig" %}

{% block title %}
    BACK-OFFICE | MODIFICATION DES BOUTIQUES
{% endblock %}
{% block body %}
    <h1 class="display-4 col-md-8 text-center my-5 bg-dark text-white mx-auto rounded shadow-lg">BACK-OFFICE | MODIFICATION DES BOUTIQUES</h1>
    
    {{ form_start(form, {'attr' : {'class' : 'col-md-5 mx-auto'} }) }}
    {{ form_row(form.titre, {'attr': {'placeholder': 'Titre'}}) }}
    {{ form_row(form.description, {'attr': {'placeholder': 'Description'}}) }}
    {{ form_row(form.image, {'attr': {'placeholder': 'Inserer image'}}) }}
    {{ form_row(form.adresse, {'attr': {'placeholder': 'adresse'}}) }}
    {{ form_row(form.code_postal, {'attr': {'placeholder': 'code postal'}}) }}
    {{ form_row(form.website, {'attr': {'placeholder': 'Site web'}}) }}
    
    <button type="submit" class="btn btn-primary shadow-lg">MODIFIER LA BOUTIQUE</button>
   {{form_end(form)}}
{% endblock %}