{% extends "base.html.twig" %}

{% block title %}

    BACK-OFFICE | CATEGORIE DES COMMENTAIRES

{% endblock %}

{% block body %}

<div class="back">
<div class="container-fluid" style="">

<div class="lol">
    <div class="men_ex text-center rounded-right " id="men_ex">
    
        <div class="list-group" id="list-tab" role="tablist">


                <a href="{{path('admin_boutique')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES BOUTIQUES</a>

                <a href="{{path('admin_produit')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES PRODUITS</a>
                
                <a href="{{path('admin_categorie')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES CATEGORIES</a>

                <a href="{{path('admin_commentaires')}}" class="list-group-item list-group-item-action newcolor">GESTION DES COMMENTAIRES</a>

                <a href="{{path('admin_membre')}}" class="list-group-item list-group-item-action newcolor">GESTION DES MEMBRES</a>

            
        </div>

    </div>


        <div class="show_hide" id="show_hide">
            <img class="sky" src="{{ asset('image/arrow.png') }}" id="jojo2" alt="">
        </div>

</div>

 <h1 class="display-5 col-md-8 text-center my-5 pt-1 text-white mx-auto rounded shadow-lg">
 BACK-OFFICE | CATEGORIE DES COMMENTAIRES</span></h1>

    <table class="table table-bordered text-center text-white bg-secondary col-md-10 mx-auto shadow-lg">
         {% for label, messages in app.flashes(['danger', 'success']) %}

            {% for oneMessage in messages %}

                <div class="col-md-3 bg-{{label}} p-2 rounded mx-auto text-center text-white mb-3 shadow-lg"> {{ oneMessage }}</div>

            {% endfor %}

         {% endfor %}
         
        <tr>
        {% for item in colonnes %}
            
            {% if item == "createdAt" %}

                <th class="bg-dark">DATE</th>

            {% elseif item == "author" %}

                <th class="bg-dark">AUTEUR</th>


            {% else %}    

            <th class="bg-dark">{{ item|upper }}</th>

            {% endif %}

        {% endfor %}

            <th class="bg-dark">TITRE ARTICLE</th>   
            <th class="bg-primary">EDITER</th>
            <th class="bg-danger">SUPPRIMER</th>

        <tr>

        {% for item2 in commentBdd %} 

            <td class="alert alert-secondary my-5"><span class="badge badge-secondary text-warning"> {{item2.id}} <hr> </span> </td>
            <td class="alert alert-warning my-5"> {{item2.auteur}} <hr> </td>
            <td class="alert alert-secondary my-5"> {{item2.contenu|striptags}} <hr> <strong> <i class="alert alert-success py-0 shadow-sm">nombre d'article(s) lié(s) à ce commentaire: {{item2.produits|length}}</strong></i> </td>
            <td class="alert alert-success my-5"> {{item2.dateCreation|date('d/m/Y à H:i:s')}} <hr></td>
            {# <td class="alert alert-warning my-5"> {{item2.produit.titre}} </td> #}
            <td class="alert alert-primary my-5"><a href="{{path('admin_edit_commentaires', {'id' : item2.id})}}" class="btn btn-primary"><i class="fas fa-edit"></a></td>
            <td class="alert alert-danger my-5"><a onclick="return(confirm('Voulez-vous réellement supprimer ce commentaire?'))"
             href="{{path('admin_remove_comment', {'id' : item2.id})}}" class="btn btn-danger shadow-sm"><i class="fas fa-trash alt"></a></td>

        </tr>

        {% endfor %}  
         

        </tr>
    </table>    

    </div>


 {% endblock %}
