{% extends "base.html.twig" %}

{% block title %}

     MODIFIER UN PRODUIT

{% endblock %}

{% block body %}

 <h1 class="display-5 col-md-8 text-center my-5 pt-1 bg-dark text-white mx-auto rounded shadow-lg">
 MODIFIER UN PRODUIT</span></h1>


    {{form_start (formProduit, {'attr' : {'class' : 'col-md-5 mx-auto'} } ) }}

      
        {{form_row (formProduit.titre, {'label' : "Nom produit"} ) }}

        {{form_row (formProduit.prix, {'label' : "Prix produit"})}}

        {{form_row (formProduit.categories, {'label' : "Variante produit"})}}

        {{form_row (formProduit.contenu, {'label' : "Description", 'attr' : {'rows' : 10} } ) }}

        {{form_row (formProduit.image)}}



    <button type="submit" class="btn btn-primary shadow-lg">MODIFIER</button>

 {{form_end (formProduit)}}



 {% endblock %}