{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le BACK-OFFICE{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="back">


    <h1 class="display-4 text-center text-white mx-auto rounded shadow-lg mb-5 mt-5">BACK-OFFICE</h1>

    <h4 class="text-center col-md-7 text-white mx-auto py-2 rounded shadow-lg">Bienvenue

        {% if app.user %}

            <span class="text-success"> {{ app.user.username }}.</span>

        {% endif %} 

           Cliquez sur la flèche pour accéder au BACK-OFFICE.
    
    </h4>


    <div class="lolback">

        <div class="show_hideback" id="show_hideback">
            <img class="skyou" src="{{ asset('image/arrowtop.png') }}" id="jojoback" alt="">
        </div>

        <div class="men_exback text-center rounded-right " id="men_exback">
        
            <div class="list-group" id="list-tab" role="tablist">

                <a href="{{path('admin_boutique')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES BOUTIQUES</a>

                <a href="{{path('admin_produit')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES PRODUITS</a>
                
                <a href="{{path('admin_categorie')}}" class="list-group-item list-group-item-action newcolor" >GESTION DES CATEGORIES</a>

                <a href="{{path('admin_commentaires')}}" class="list-group-item list-group-item-action newcolor">GESTION DES COMMENTAIRES</a>

                <a href="{{path('admin_membre')}}" class="list-group-item list-group-item-action newcolor">GESTION DES MEMBRES</a>

            </div>

        </div>


        

    </div>
</div>


{% endblock %}
