{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le BACK-OFFICE{% endblock %}

{% block body %}


    <h1 class="display-4 text-center bg-dark text-white mx-auto rounded shadow-lg">BACK-OFFICE</h1>

    <h4 class="text-center col-md-7 bg-dark text-white mx-auto py-2 rounded shadow-lg">Bienvenue

        {% if app.user %}

            <span class="text-info"> {{ app.user.username }} ✅</span>

        {% endif %} 

        dans votre espace personnalisé   
    
    </h4>

    <div class="text-center mt-5 d-flex flex-column" style="margin-top: 400px !important;"> 


</div>    

    
      
</div>

<div class="text-center mt-5 d-flex flex-column" style="position:relative !important;"> 

        <a class="btn btn-secondary col-md-2 mb-2 shadow-lg" href="{{path('admin_boutique')}}">GESTION DES BOUTIQUES</a>

        <a class="btn btn-secondary col-md-2 mb-2 shadow-lg" href="{{path('admin_produit')}}">GESTION DES PRODUITS</a>

        <a class="btn btn-secondary col-md-2 mb-2 shadow-lg" href="{{path('admin_categorie')}}">GESTION DES CATEGORIES</a>

        <a class="btn btn-secondary col-md-2 mb-2 shadow-lg" href="{{path('admin_commentaires')}}">GESTION DES COMMENTAIRES</a>
        
        <a class="btn btn-secondary col-md-2 mb-2 shadow-lg" href="{{path('admin_membre')}}">GESTION DES MEMBRES</a>
        
</div>    

{% endblock %}
