<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>

        {% block title %}
         CBDGATE
        {% endblock %}
        </title>
       
        {% block stylesheets %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="image/marijuana.png" />
            
        {% endblock %}

   

    </head>
    <body>
        <header class="">
            <nav class="navbar navbar-expand-lg navbar-light col-md-12 mx-auto" id="proute">
                <img src="image/marijuana.png" alt="" width="32px" height="32px" >
                <a class="navbar-brand text-white" href="#">CBD GATE</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="nav navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link text-white hoverable" href="{{ path('main') }}">ACCUEIL <span class="sr-only">(current)</span></a>
                    </li>

                    {% if app.user %}

                          <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="">MON COMPTE</a>
                          </li>

                    {% else %}

                            <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="{{ path('security_inscription') }}">CREEZ VOTRE COMPTE</a>
                            </li>

                         
                          <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="{{ path('security_login') }}">IDENTIFIEZ-VOUS</a>
                          </li>

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-white hoverable" href="{{ path('main_boutiques') }}">BOUTIQUES</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link text-white hoverable" href="">NOUVEL ARTICLE</a>
                    </li>
                    
                </div>
                    </li>

                        {% if is_granted('ROLE_ADMIN') %}

                          <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="">BACK-OFFICE</a>
                         </li>

                        {% endif %}

                    
                    {% if app.user %}

                          <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="{{ path('security_logout') }}">DECONNEXION</a>
                          </li>

                    {% endif %}
                   
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </div>
            </nav>
        </header>
        <main class="container-fluid conteneur-base">

        {% block body %}

        {% endblock %}

        </main>

        <footer class="text-center py-4 text-white ">
        
            <article class="hautfooter row">

                <section class="titrelogo col-md-4  ">



                    <img src="/image/marijuana.png" alt="" width="64px" height="64px" >
                    <h2>CBDGATE</h2>
                 

                </section>



                <section class="col-md-4">
            
                    <p class="slogan">Les meilleurs boutiques CBD pour vous !</p>
            
                </section>

                <div class="col-md-4"></div>
            
            </article>


            <article class="midfooter row" >
            
                 <a href=""><img src="/image/twitter.png" alt=""></a>

                 <a href=""><img src="/image/instagram.png" alt=""></a>

                 <a href=""><img src="/image/facebook.png" alt=""></a>

                 <a href=""><img src="/image/contact.png" alt=""></a>
                 
            
            </article>


            <article class="row">
            
                <p>2021 copyright cbdGate tous droits résevé</p>
            
            </article>






        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
             crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
            <script src="js/script.js"></script>
        {% endblock %}
    </body>
</html>
