<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>

        {% block title %}
         CBDGATE
        {% endblock %}
        </title>
       
        {% block stylesheets %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="image/marijuana.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
            
        {% endblock %}

   

    </head>
    <body>
        <header class="">
          <nav class="navbar navbar-expand-lg navbar-light ">
                <img src="{{ asset('image/marijuana.png') }}" alt="" width="32px" height="32px" >
                <a class="navbar-brand text-white" href="#">CBDGATE</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""><img class="" src="image/list.png" width="32px" height="32px" alt=""></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav show mr-auto">
      <li class="nav-item">
                        <a class="nav-link text-white hoverable" href="{{ path('main') }}">ACCUEIL</a>
                    </li>

                    {% if app.user %}

                          <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="">MON COMPTE</a>
                          </li>

                    {% else %}

                            <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="{{ path('security_inscription') }}">CREEZ VOTRE COMPTE</a>
                            </li>

                         
                          <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="{{ path('security_login') }}">IDENTIFIEZ-VOUS</a>
                          </li>

                    {% endif %}

                        <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="{{ path('main_boutiques') }}">BOUTIQUES</a>
                        </li>
                  
                       <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="{{ path('main_contact') }}">CONTACT</a>
                      </li>
                    
               

                     </li>
                       </ul>
                    
                        {% if is_granted('ROLE_ADMIN') %}

                          <li class="nav-item">
                            <a class="nav-link text-white hoverable" href="{{ path('admin') }}">BACK-OFFICE</a>
                         </li>

                        {% endif %}

                    
                    {% if app.user %}

                          <li class="nav-item">
                             <a class="nav-link text-white hoverable" href="{{ path('security_logout') }}">DECONNEXION</a>
                          </li>

                    {% endif %}
                   
                  
                    
                </div>
            </nav>

 
        </header>
        <main class="container-fluid conteneur-base">

        {% block body %}

        {% endblock %}

        </main>

        <footer class="text-center py-4 text-white ">
        
           


            <article class="midfooter row" >
            
                 <a href="" class="hoverables"><img src="{{ asset('image/twitter.png') }}" alt=""></a>

                 <a href="" class="hoverables"><img src="{{ asset('image/instagram.png') }}" alt=""></a>

                 <a href="" class="hoverables"><img src="{{ asset('image/facebook.png') }}" alt=""></a>

                 <a href="" class="hoverables"><img src="{{ asset('image/contact.png') }}" alt=""></a>
                 
            
            </article>


            <article class="row copyright">
            
                <p>2021 copyright cbdGate tous droits résevé</p>
            
            </article>






        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
            <script src="js/script.js"></script>

            

        {% endblock %}
    </body>
</html>
